import os
from airflow import DAG, Dataset
from airflow.operators.bash import BashOperator
from airflow.operators.python import PythonOperator
from airflow.providers.docker.operators.docker import DockerOperator
from datetime import datetime, timedelta
from airflow import configuration as conf
from docker.types import Mount

{{ id }}_refined = Dataset("dl://{{ id }}/refined")
{{ id }}_rdf = Dataset("dl://{{ id }}/rdf")

with DAG(
    dag_id="{{ id }}_mapping", 
    description="LD mapping and materialisation DAG for '{{ id }}' dataset",
    start_date=datetime(year=2025, month=2, day=1) , 
    catchup=False,
    schedule=[{{ id }}_refined] ,
    default_args={
        'owner': 'admin',
        'retries': 5,
        'retry_delay': timedelta(seconds=5)
    }
    ) as dag:

    mapping_config = BashOperator(
        cwd = os.path.join(conf.AIRFLOW_HOME, f"plugins/datalinker/data/{{ id }}"),
        task_id='mapping_config',
        bash_command="echo [CONFIGURATION]>mappings/config.ini; \
                      echo output_file = files/rdf/{{ filename }}-output.nq>>mappings/config.ini; \
                      echo number_of_processes=1 >>mappings/config.ini; \
                      echo output_format=N-QUADS >>mappings/config.ini; \
                      echo [DataSourceCSV]>>mappings/config.ini; \
                      echo mappings=files/mappings/{{ mappings_filename }}>>mappings/config.ini; \
                      echo file_path=files/refined/{{ filename }}.csv>>mappings/config.ini; \
                      ",
        )

    materialisation = DockerOperator(
        docker_url="unix://var/run/docker.sock",  # replace it with swarm/docker endpoint tcp://localhost:2375
        image="morph-kgc:latest",
        auto_remove="force",
        network_mode="bridge",
        outlets = [{{ id }}_rdf],
        mounts=[
            Mount(source=os.path.join(conf.AIRFLOW_HOME, f"plugins/datalinker/data/{{ id }}"), target="/app/files/", type="bind"),
        ], 
        task_id="materialisation",
        # do_xcom_push=True,
        command="/app/files/mappings/config.ini",
        dag=dag,
    )
    mapping_config >> materialisation

# docker run -v $(pwd)/plugins/datalinker/data/dl/:/app/files --rm morph-kgc:latest /app/files/mappings/config.ini