import os
from airflow import DAG, Dataset
from airflow.operators.bash import BashOperator
from airflow.operators.python import PythonOperator
from datetime import datetime, timedelta
from airflow import configuration as conf

{{ dataset_id }}_raw = Dataset("dl://{{ dataset_id }}/raw")
{{ dataset_id }}_refined = Dataset("dl://{{ dataset_id }}/refined")

with DAG(
    dag_id="{{ dataset_id }}_preprocessing", 
    description="LD pre-processing DAG for {{ dataset_id }} dataset",
    start_date=datetime(year=2025, month=2, day=1) , 
    catchup=False,
    schedule=[{{ dataset_id }}_raw] ,
    default_args={
        'owner': 'admin',
        'retries': 5,
        'retry_delay': timedelta(seconds=5)
    }
    ) as dag:

    preprocessing = BashOperator(
        cwd = os.path.join(conf.AIRFLOW_HOME, f"plugins/datalinker/"),
        outlets = [{{ dataset_id }}_refined],
        task_id='preprocessing',
        bash_command="chmod +x tools/openrefine-batch-docker.sh; \
                    ./tools/openrefine-batch-docker.sh \
                        -a ./data/{{ project_id }}/{{ dataset_id }}/raw/ \
                        -b ./data/{{ project_id }}/{{ dataset_id }}/preprocessing/ \
                        -c ./data/{{ project_id }}/{{ dataset_id }}/refined/ \
                        -e csv \
                        -f csv \
                        -i trimStrings=true \
                        -i guessCellValueTypes=false \
                        -i storeBlankCellsAsNulls=false \
                        -i encoding=UTF-8 \
                        -m 4096M ",
        )

    preprocessing
