import os
from airflow import DAG, Dataset
from airflow.operators.bash import BashOperator
from airflow.operators.python import PythonOperator
from airflow.providers.docker.operators.docker import DockerOperator
from datetime import datetime, timedelta
from airflow import configuration as conf
from docker.types import Mount

{{ dataset_id }}_rdf = Dataset("dl://{{ dataset_id }}/rdf")
{{ dataset_id }}_report = Dataset("dl://{{ dataset_id }}/report")

with DAG(
    dag_id="{{ dataset_id }}_validation", 
    description="LD validation DAG for '{{ dataset_id }}' dataset",
    start_date=datetime(year=2025, month=2, day=1) , 
    catchup=False,
    schedule=[{{ dataset_id }}_rdf] ,
    default_args={
        'owner': 'admin',
        'retries': 5,
        'retry_delay': timedelta(seconds=5)
    }
    ) as dag:

    validation = DockerOperator(
        docker_url="unix://var/run/docker.sock",  # replace it with swarm/docker endpoint tcp://localhost:2375
        image="cli_data_validator:latest",
        auto_remove="force",
        network_mode="bridge",
        outlets = [{{ dataset_id }}_report],
        mounts=[
            Mount(source=os.path.join(conf.AIRFLOW_HOME, f"plugins/datalinker/data/{{ project_id }}/{{ dataset_id }}"), target="/cli-data-validator/data", type="bind"),
        ], 
        task_id="validation",
        # do_xcom_push=True,
        command=[
            "/cli-data-validator/data/rdf/{{ filename }}-output.nq",
            "/cli-data-validator/data/shapes/{{ shapes_filename }}",
            "/cli-data-validator/data/report/{{ filename }}-report.ttl"
            ],
        dag=dag,
    )
    validation

# docker run -v $(pwd)/data:/cli-data-validator/data --rm cli_data_validator:latest /cli-data-validator/data/test_data.ttl /cli-data-validator/data/test_shapes.ttl /cli-data-validator/data/test_report.ttl
